.topbar {
    width: 100%;
    padding: .7rem;
    background-color: #783B04;
}

.topbar .topbar-content {
    display: flex;
    color: white;
}

.topbar .topbar-content p {
    padding: 0 1rem;
    font-size: 14px;
}

.topbar .bar-box1 {
    width: 16rem;
    border-right: 1px solid rgba(255, 255, 255, 0.459);
}

.topbar .bar-box2 {
    width: 13rem;
    border-right: 1px solid rgba(255, 255, 255, 0.459);

}

@media screen and (max-width: 700px) {
    .topbar {
        display: none;
    }
}