@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');


video {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }

  .overlay {
    position: relative;
    z-index: 0;
  }
  
  .overlay::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(22, 22, 22, 0.801);
      opacity: .6;
      /* !!! */
      z-index: 1;
  }

.hero .content {
    bottom: 25%;
    right: 10%;
    position: absolute;
    text-align: center;
    width: max-content;
    padding: 1rem;
    z-index: 2;
}

.hero-logo {
    text-align: center;
}

.hero h1 {
    font-size: 7rem;
    text-align: center;
    color: white;
    font-family: 'Lugrasimo', cursive;
    line-height: 7rem;
  }


  .hero h2 {
    font-size: 1.5rem;
    color: rgb(246, 250, 247);

}

.hero-container p {
    font-size: 16px;
    color: white;
}

.hero .hero-btn button {
    cursor: pointer;
}


/* MEDIA QUERIES */


@media screen and (max-width:940px) {

  .hero h2 {
    font-size: 1.2rem;
}

.hero h1 {
font-size: 4rem;
line-height: 4.5rem;
}

.hero p {
    font-size: 16px;
}

.hero .content {
    left: 0%;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1rem;
    z-index: 2;
}


}


