@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.anxiety {
    width: 100%;
    height: 90vh;
    background: rgba(42, 14, 73, 0.486);
    position: relative;
  }
  
  .anxiety:before {
    content: '';
    position: absolute;
    background: url('../../assets/mental-health-submenu-bg-min.jpg') no-repeat center center/cover;
    height: 90vh;
    width: 100%;
    z-index: -1;
  }
  

.anxiety {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anxiety .anxiety-content {
    display: block;
    position: absolute;
    top: 30%;
    padding: 1rem;
}

.anxiety h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.anxiety h1 {
    font-size: 2rem;
}

}