@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.mdma {
    width: 100%;
    height: 80vh;
    background: #17362da4;
    position: relative;
  }
  
  .mdma:before {
    content: '';
    position: absolute;
    background: url('../../assets/addiction-submenu-bg-min.webp') no-repeat center bottom/cover;
    height: 80vh;
    width: 100%;
    z-index: -1;
  }
  

.mdma {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mdma .mdma-content {
    display: block;
    position: absolute;
    top: 40%;
    left: 10%;
    padding: 1rem;
}

.mdma h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.mdma h5 {
    font-size: 1.5rem;
    color: rgb(224, 221, 221);
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.mdma h1 {
    font-size: 2rem;
}

.mdma h5 {
    font-size: 1rem;
}

.mdma .mdma-content {
    top: 50%;
    left: 0%;
    width: 100%;
}

}