@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.method {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #16161667;
}

.method:before {
  content: '';
  position: absolute;
  background: url('../../assets/method-bg-min.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.method .method-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 40%;
}



.method-content h1{
  text-align: center;
  color: rgb(226, 226, 226);
}


/* MEDIA QUERIES - HERO */

@media screen and (max-width:1200px) {

.method h1 {
    font-size: 3rem;
    text-align: center;
}

.method-content h1 {
  margin-top: 3rem;
}

}